 <div class="col-12" style="padding: 0px">
                    <nav class="navbar navbar-dark bg-dark">

                           <a class="navbar-brand col-2" href="/">statistiques</a>

                        <a class="navbar-brand col-2" href="/all_clients">Tout les Clients</a>
                          <a class="navbar-brand col-2" href="/all_commandes">Tout les Commandes</a>

                          <a class="navbar-brand col-2" href="/all_fournisseurs"> les Fournisseurs</a>
                         <a class="navbar-brand col-2" href="/all_produits">Tout les produits</a>
                        <a class="navbar-brand col-1" href="/all_categories">catégories</a>
              <!-- Navbar content -->
                     </nav>
    </div>