<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8">
    <title> Bill App  </title>
      {% block meta %} {% endblock %}
    {% load bootstrap4 django_tables2 crispy_forms_tags %}
	{% bootstrap_css %}         {# Embed Bootstrap CSS #}
	{% bootstrap_javascript jquery='full' %}  {# Embed Bootstrap JS+jQuery #}
	<meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <style type="text/css">
  	#sidebar-wrapper {
    	border-right: 1px solid gray;
	}
	h2.a {
  		line-height: 0.01;
	}
	h1.a {
  		line-height: 0.01;
	}
  </style>
  {% block sripting %}{% endblock %}
  <body>

    {% if user.is_authenticated %}
    <div class="row">
      <div class="col-sm-9">
       
      </div>
      <div class="col-sm-1">
         {{ user.get_username }}
      </div>
      <div class="col-sm-1">
        <a class="btn btn-primary"  href="{% url 'logout'%}?next={{request.path}}">Logout</a>
      </div>
    </div>
 </ul>
 <div class="col-12">
                <nav class="navbar navbar-dark bg-dark">

                       <a class="navbar-brand col-2" href="/">Main stats</a>

                    <a class="navbar-brand col-3" href="/all_clients">Tout les Clients</a>

                      <a class="navbar-brand col-2" href="/all_fournisseurs">Tout les Fournisseurs</a>
                     <a class="navbar-brand col-2" href="/all_produits">Tout les produits</a>
                    <a class="navbar-brand col-2" href="/all_categories">catégories</a>
          <!-- Navbar content -->
                 </nav>
</div>
 <div class="col-12 row">

{% block body %}

{% endblock %}

 </div>

  {% else %}
    <li><a  class="btn btn-primary"  href="{% url 'login'%}?next={{request.path}}">Login</a></li>   
  {% endif %} 
  

  </body>
</html>
