<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8">
      <style>
          body{
              text-align: center;
              font-family: sans-serif;

          }

      </style>
  </head>
  <body>


   {% if user.is_authenticated %}
   <div class="row">
    <div class="col-sm-9">
     
    </div>
    <div class="col-sm-1">
       {{ user.get_username }}
    </div>
    <div class="col-sm-1">
      <a class="btn btn-primary"  href="{% url 'logout'%}?next={{request.path}}">Logout</a>
    </div>
  </div>
   {% include "bill/admin_top_menu.html" %}


   <h2>Facture N° {{ facture.id }}</h2>
   Client: {{ facture.client }}
   <!-- on affiche les lignes de la facture -->
   <table align="center">
   {% for ligne in facture.lignes.all %}
     <tr align="center">
       <td>{{ ligne.produit.designation }}</td>
       <td>{{ ligne.produit.prix }}</td>
       <td>{{ ligne.qte }}</td>
     </tr>
   {% endfor %}
   </table>
 
         <div> le total est {{ total }} </div>
 {% else %}
   <li><a  class="btn btn-primary"  href="{% url 'login'%}?next={{request.path}}">Login</a></li>   
  
 
 {% endif %} 
     </body>
</html>